﻿@model IEnumerable<Universal_OSBB.Models.Entities.Comment>

@foreach (var item in Model)
{
    <fieldset style="width:80%; margin:0 auto;">
        <table>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        </table>
        <p class="rightdate">
            Опубліковано: @Html.DisplayFor(modelItem => item.DateAdding), @Html.ActionLink(item.Owner.Surname + " "
                  + item.Owner.Name + " "
                  + item.Owner.MiddleName, "DetailsOwner", "Owner", new { id = item.OwnerID }, null)
        </p>
    </fieldset>
}