﻿@model Universal_OSBB.Models.Entities.Message

@using (Html.BeginForm("SubmitCreateNovelty", "Novelty", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Розміщення повідомлення</legend>

        <p>@Html.ValidationSummary()</p>

        <span class="editor-label">
            @Html.LabelFor(model => model.Topic):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Topic)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Text):
        </span>
        <br>
        <span class="editor-field">
            @Html.TextAreaFor(model => model.Text, rows: 5, columns: 80, htmlAttributes: null)
        </span>
        <br>

        Завантажити файл:
        <br>
        <input type="file" name="upload"/>
        <br>
        <p>
            <input class="mybutton" type="submit" value="Опублікувати" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До списку новин", "News", "Novelty")
</div>