﻿@model Universal_OSBB.Models.Entities.Message

<fieldset>
    <legend>@Model.Topic</legend>

    <span class="display-label">
        @Html.DisplayFor(model => model.Text)
    </span>
    <br>  
    
    @Html.Action("FilesMessage", "Novelty", new { id = Model.MessageID })

    <div class="display-label" style="text-align:right">
        @Html.DisplayNameFor(model => model.DatePublication): @Html.DisplayFor(modelItem => modelItem.DatePublication),
        @Html.ActionLink(Model.Owner.Surname + " " + Model.Owner.Name + " " + Model.Owner.MiddleName, "DetailsOwner", "Owner", new { id = Model.OwnerID }, null)
    </div>
</fieldset>

<fieldset style="width:80%; margin:0 auto;">
    <legend style="font-weight: normal;">Додати коментар</legend>
    @using (Html.BeginForm("AddComment", "Novelty", new { id_owner = int.Parse(Session["user_id"].ToString()), id_message = Model.MessageID }))
    {
        <textarea name="text_comment" rows="5" cols="85"></textarea>
        <br />
    <input type="submit" class="AddComment mybutton" value="Додати" />
    }
</fieldset>

@Html.Action("CommentsNovelty", "Novelty", new { id = Model.MessageID })

<p>
    @Html.ActionLink("До списку новин", "News", "Novelty")
</p>