﻿@model IEnumerable<Universal_OSBB.Models.Entities.File>
<div style="text-align:right">
    @if (Model.Count() > 0)
    {
        <span class="display-label">
            <b>Завантажені файли:</b>
        </span>
        <br>

        <table style="display:inline">

            @foreach (var item in Model)
            {
                <tr>
                    <td align="left" style="text-indent: 0px;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Завантажити", "DownloadFile", "Novelty", new { filename = item.Name }, null)
                    </td>
                </tr>
            }
        </table>
    }
</div>