﻿@{
    Session["menu_item"] = "news";
}
@model IEnumerable<Universal_OSBB.Models.Entities.Message>

@foreach (var item in Model)
{
    <fieldset>
        <legend>@Html.ActionLink(item.Topic, "DetailsNovelty", new { id = item.MessageID })</legend>

        @Html.DisplayFor(modelItem => item.Text)

    <div style="text-align:right">
        @Html.DisplayNameFor(model => model.DatePublication): @Html.DisplayFor(modelItem => item.DatePublication),
        @Html.ActionLink(item.Owner.Surname + " " + item.Owner.Name + " " + item.Owner.MiddleName, "DetailsOwner", "Owner", new { id = item.OwnerID }, null)
    </div>
    </fieldset>
}