﻿@using Universal_OSBB.Models.Repository;
@{
    bool is_authorized = UserHelper.IsAuthorized(Context);
    Session.Timeout = 30;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script type='text/javascript' src='~/jquery-2.1.3.min.js'></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Універсал-ОСББ</title>
    @Scripts.Render("~/Scripts.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", false)
</head>
<body>
    <header class="maxw">
        <img src="~/Images/header.jpg" alt="Заголовок" class="headerimg" />
        @if (is_authorized)
        {
            @Html.Action("UserInfo", "User")    
        }
        else
        {
            <p>
                @RenderBody()
            </p>
        }
    </header>  
    <div class="main">
    @if (TempData["Form"] == "Forget")
    {
        @Html.Partial("ForgetPassword")
    }
    else
    {
        if (is_authorized)
        {
            bool is_head = OwnerHelper.IsHead(Convert.ToInt32(Context.Session["user_id"].ToString()));
            if(is_head)
            {
                @Html.Action("MenuHead", "Home")
                <div class="leftdiv">

                    @Html.Action("SubMenuHead", "Home")

                    @Html.Action("LastNews", "Home")

                </div>
            }
            else
            {
                @Html.Action("MenuOwner", "Home")
                <div class="leftdiv">

                    @Html.Action("SubMenuOwner", "Home")

                    @Html.Action("LastNews", "Home")

                </div>
            }
            <div class="content">
                @RenderBody()
            </div>
            <div class="clear"></div>
            <footer>

                @if (is_head)
                {
                    @Html.Action("FooterHead", "Home")
                }
                else
                {
                    @Html.Action("FooterOwner", "Home")
                }

            </footer>
        }
        else
        {     
            @Html.Partial("Authorization")
        }  
    }
    </div>

</body>
</html>
