﻿body
{
    background:url("background.jpg");
    background-attachment: fixed;
    margin: 0px;
}

.maxw
{
	margin: 0 auto;
	min-width: 240px;
	max-height: 1920px;
}

header
{	
	width: 80%;
	height: 240px;
	font-size: 18px;
    color: black;
	margin: 0 auto;
    text-align: right;
}

header p
{
    display: block;
    -webkit-margin-before: 3px;
    -webkit-margin-after: 3px;
    color: #00008B;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

img.headerimg
{
    width: 100%;
    height: 200px;  
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;
}

div.main
{
	width: 80%;
	margin: 0 auto;
	padding-top: 0px;
	height: auto;
}

.mainmenu
{
    position: relative;
    overflow: hidden;
    height: 65px;
    margin: 0px;
	background: #F0FFFF;
	
	color: Black;
    font-size: 18px;
    padding: 10px 0px 5px 0px;
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;
    text-align: center;

    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.mainmenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
}

.mainmenu ul li
{
    position: relative;
    left: -50%;
    float: left;
    margin: 0;
	text-align: center;
	margin-right: 15px;
    margin-left: 15px;
	width: 100px;
	height: 70px;
	margin-top: 15px;
}

.mainmenu ul li a
{
    text-decoration: none;
    color: #00008B;
}

.mainmenu  ul li:hover
{
	font-size: 22px;
    
}

div.leftdiv
{
	float: left;
	width: 240px;
    height:auto;
}

div.sub_menu ul
{
    list-style: none;
    padding: 2px 0px 6px 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    
}

div.sub_menu ul li
{
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;
    margin-top: 6px;
    text-align: center;
    background: #F0FFFF;
    color: Black;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3); 
}

div.sub_menu ul li a
{
    text-decoration: none;
    color: #00008B;
    font-weight: bold;
    line-height: 25px;
}

.auth
{
    width: 30%;
    color: Black;
    font-size: 18px;
    padding: 20px 0px 5px 0px;
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;
    margin-top: 6px;
    text-align: center;
    background: #F0FFFF;
    margin: 0 auto;
}

div.auth form input
{
    font-size: 18px;
    font-family: Times New Roman;
}

.leftsearchform
{
    float:left;
    margin-right:425px;
    text-align:center;
    text-indent:0px;
}

.rightsearchform
{
    text-indent:0px;
    text-align:center;
}

.searchbutton
{
    text-decoration:none; 
     text-align:center; 
     padding:12px 20px; 
     border:none; 
     -webkit-border-radius:7px;
     -moz-border-radius:7px; 
     border-radius: 7px; 
     font:14px "Times New Roman"; 
     color:#06010a; 
     background-color:#a8e5fa; 
     background-image: -moz-linear-gradient(top, #a8e5fa 0%, #4bc1e8 100%); 
     background-image: -webkit-linear-gradient(top, #a8e5fa 0%, #4bc1e8 100%); 
     background-image: -o-linear-gradient(top, #a8e5fa 0%, #4bc1e8 100%); 
     background-image: -ms-linear-gradient(top, #a8e5fa 0% ,#4bc1e8 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bc1e8', endColorstr='#4bc1e8',GradientType=0 ); 
     background-image: linear-gradient(top, #a8e5fa 0% ,#4bc1e8 100%);   
     -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
     -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
     box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
     cursor:pointer;
}

.mybutton
{
     text-decoration:none; 
     text-align:center; 
     padding:12px 20px; 
     border:none; 
     -webkit-border-radius:7px;
     -moz-border-radius:7px; 
     border-radius: 7px; 
     font:18px "Times New Roman"; 
     color:#06010a; 
     background-color:#a8e5fa; 
     background-image: -moz-linear-gradient(top, #a8e5fa 0%, #4bc1e8 100%); 
     background-image: -webkit-linear-gradient(top, #a8e5fa 0%, #4bc1e8 100%); 
     background-image: -o-linear-gradient(top, #a8e5fa 0%, #4bc1e8 100%); 
     background-image: -ms-linear-gradient(top, #a8e5fa 0% ,#4bc1e8 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bc1e8', endColorstr='#4bc1e8',GradientType=0 ); 
     background-image: linear-gradient(top, #a8e5fa 0% ,#4bc1e8 100%);   
     -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
     -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
     box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
     cursor:pointer;
}

div.news
{
    margin-top: 0px;
	width: auto;
	line-height: 25px;
	font-size: 20px;
	color: Red;
	
	color: Black;
    font-size: 18px;
    padding: 10px 0px 5px 0px;
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;
    text-align: center;
    background: #F0FFFF;	
    padding: 10px 10px 10px 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

span.news
{
    font-weight: bold;
    font-size: 18px;
    color: #00008B;
}

div.news ul li a
{
	color: Black;
    text-decoration: none;
    text-shadow: none;
}

.news ul
{
	width: 80%;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	text-align: left;
	color: Black;
	padding-left: 40px;
    text-shadow: none;
	
}

div.content
{
	text-indent: 25px;
	margin-left: 20px;
    margin-top: 20px;
    margin-right: 0px;
	overflow: hidden;
	padding: 0px 0px 0px 10px;
	text-align: justify;
	line-height: 30px;
    font-size : 18px;
}

div.content ul li
{
    padding-left: 0px;
    text-indent: 0px;
}

table.list_table
{
    width:100%;
    margin: 0 auto;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

table.list_table th
{
    text-align: center;
}

table.list_table td, th
{
    text-indent: 0px;
    padding: 4px 4px 4px 4px;
    line-height: 20px;
    border-style: ridge;
}

table.list_table tr td.number, table.list_table tr th.number
{
    text-align: right;
}

.clear
{
    clear:both;
}

footer
{
    width: 100%;
    margin: 0 auto;
    clear: both;
    text-align: right;
     
    color: Black;
    font-size: 16px;
    
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;
    background: #F0FFFF;
    line-height: 25px;
	min-width: 240px;
	max-height: 1920px;
    margin-top: 6px;
}

footer div
{
    padding: 10px 20px 10px 20px;
}


span.reg
{
    font-weight: bold;
    padding-bottom: 20px;
}

div.reg input,  div.reg label
{
    font-size: 18px;
    font-family: 'Times New Roman';
    line-height: 20px;
    margin-bottom: 15px;
}

div.reg, #DynamicExtraFieldsContainer
{
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

div.reg select
{
    line-height: 20px;
    margin-bottom: 15px;

    font-size: 18px;
    font-family: 'Times New Roman';
}

div#DynamicExtraField
{
    margin-bottom: 15px;
}

div#DynamicExtraField input
{
    margin-left: 25px;
    font-size: 18px;
    font-family: 'Times New Roman';
}

input#radiotype
{
    font-size: 18px;
    margin-left: 25px;
}

input#texttype
{
    margin-left: 0px;
}

div.DynamicExtraField input
{
    margin-bottom: 15px;
    margin-left: 25px;
}

div#DynamicTypesContainer
{
    text-indent: 0px;
}

div#DynamicTypesContainer label
{
    margin-left: 25px;
    margin-bottom: 30px;
}

input#AddOptionButton
{
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-family: 'Times New Roman'; 
}

input#AddPhoneButton, .DeleteDynamicExtraField, #AddTypeButton
{
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-family: 'Times New Roman';
    
}

.rightdate
{
    text-align: right;
}

textarea {
    min-height: 75px;
    font-family:'Times New Roman';
    font-size:14px;
}

input.AddComment
{
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 25px;
    font-family: 'Times New Roman';
}

.leftsearchform
{
    float:left;
    margin-right:370px;
    text-align:center;
}

table.files
{
    width: 60%;
    text-indent: 0px;
}

table.files th
{
    text-align: center;
    border-style: groove;
    border-width: 3px;
}

table.files td
{
    border-style: groove;
    border-width: 3px;
    text-align:center;
    
    vertical-align: middle;
	text-indent: 0px;
    width:30%;

   background-color: #f5f5f5;
   padding: 10px 10px 10px 10px; 
   line-height: 20px;
}

/*Стилизация валидации*/

.field-validation-error {
    color: #f00;
    font-weight: bold;
    font-size: 18px;
}
 
.field-validation-valid {
    display: none;
}
 
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
 
.validation-summary-errors {
    font-weight: bold;
    color: red;
}
 
.validation-summary-valid {
    display: none;
}

/*---------------*/


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 0 0;
    background: white;
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 10px;

}

fieldset span, fieldset span input, fieldset span select, fieldset span.editor-field, fieldset span.editor-label,
fieldset span textarea
{
    font-size: 18px;
    font-family: 'Times New Roman';
}

.header_card_owner
{
    text-align: center;
    font-size: 20px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-indent: 0px;
}

.display-label
{
    margin-left: 10px;
    line-height: 40px;
}

.display-field
{
    font-style: italic;
    margin-left: 10px;
}

table.sub_list
{
    width: 90%;
    text-indent: 0px;
    width:100%;
    margin: 0 auto;
    text-align: left;
}

table.sub_list th
{
    text-align: center;
    border-style: groove;
    border-width: 3px;
}

table.sub_list td
{
    border-style: groove;
    border-width: 3px;
    
    vertical-align: middle;
	text-indent: 0px;
    width:30%;

    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px; 
    line-height: 20px;
}

table td.invisible, th.invisible
{
    border-style: none;
    background-color: white;

}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1px 0 0 2px;
}

.editor-field {
    margin: 1em 0 0 0;
}

fieldset.addowner {
    padding: 15px 15px 15px 15px;
    margin: 0 0 0 0;
    background-color: #F5F5F5;
    box-shadow:none;
    border-radius: 0px;
    border-style: groove;
    border-width: 3px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    text-indent: 0px;

}

fieldset.addowner legend {
    text-indent: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

fieldset.addowner input
{
    font-size: 18px;
    font-family: 'Times New Roman';
}

fieldset.report input
{
    font-size: 18px;
    font-family: 'Times New Roman';
}

p.center
{
    text-indent: 0px;
    text-align: center;
}