﻿@model IEnumerable<Tuple<int, string>>
@if (Model.Count() > 0)
{
    <table class="list_table" style="width:75%; margin:auto">
        <tr>
            <th>
                Варіант відповіді
            </th>
            <th>
                Кількість голосів
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Item2
                </td>
                <td>
                    @item.Item1
                </td>
            </tr>
        }
    </table>
}
