﻿@model Universal_OSBB.Models.Entities.Interview

@using (Html.BeginForm("SubmitCreateInterview", "Interview"))
{
    <fieldset>
        <legend>Створення опитування</legend>
        <p>
            @Html.ValidationSummary()
        </p>

        <span class="editor-label">
            @Html.LabelFor(model => model.Topic):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Topic)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Text):
        </span>
        <span class="editor-field">
            @Html.TextAreaFor(model => model.Text, rows: 4, columns: 80, htmlAttributes: null)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.EndDate):
            @Html.EditorFor(model => model.EndDate)
        </span>
        <br>
        <br>
        <div id="DynamicExtraFieldsContainer">
            <div id="DynamicExtraField">
                <label for=" dynamicoptionfield">Варіант відповіді:</label>
                <br>
                <input name="opt" sty/>
            </div>
            <input type="button" id="AddOptionButton" value="Додати варіант">
        </div>

        <p>
            <input class="mybutton" type="submit" value="Опублікувати" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До списку опитувань", "Interviews", "Interview")
</div>
