﻿@model Universal_OSBB.Models.Entities.Interview
@using Universal_OSBB.Models.Repository
<fieldset>
    @if (InterviewHelper.IsVoted(Model.InterviewID, int.Parse(Session["user_id"].ToString())) || Model.EndDate < DateTime.Now)
    {
        <legend>Результати голосування "@Model.Topic"</legend>
        <p>@Model.Text (опитування проводиться до @Model.EndDate.Date.ToShortDateString())</p>
        
        <div style="text-align:center">
            <img src=@Url.Action("GetChart", "Chart", new { identificator = Model.InterviewID }) /> <br />
        </div>
        @Html.Action("ShowResultInTable", "Chart", new { identificator = Model.InterviewID });
    }
    else
    {
        <legend>@Model.Topic</legend>
        <div class="display-label">
            @Html.DisplayFor(model => model.Text)
        </div>
        @Html.Action("OptionsInterview", "Interview", new { id = Model.InterviewID })
    }
    <div class="display-label" style="text-align:right">
        @Html.DisplayNameFor(model => model.DatePublication): @Html.DisplayFor(modelItem => modelItem.DatePublication),
        @Html.ActionLink(Model.Owner.Surname + " " + Model.Owner.Name + " " + Model.Owner.MiddleName, "DetailsOwner", "Owner", new { id = Model.OwnerID }, null)
    </div>
</fieldset>
<p>
    @Html.ActionLink("До списку опитувань", "Interviews", "Interview")
</p>
