﻿@model IEnumerable<Universal_OSBB.Models.Entities.Interview>

@{
    Session["menu_item"] = "interviews";
}
@foreach (var item in Model)
{
    <fieldset>
        <legend>@Html.ActionLink(item.Topic, "DetailsInterview", new { id = item.InterviewID })</legend>

        @Html.DisplayFor(modelItem => item.Text)
        <div style="text-align:right">
            @Html.DisplayNameFor(model => model.DatePublication):
            @Html.DisplayFor(modelItem => item.DatePublication),
            @Html.ActionLink(item.Owner.Surname + " " + item.Owner.Name + " " + item.Owner.MiddleName, "DetailsOwner", "Owner", new { id = item.OwnerID }, null)
        </div>
    </fieldset>
}