﻿@model IEnumerable<Universal_OSBB.Models.Entities.Option>

@using (Html.BeginForm("SubmitVote", "Interview", FormMethod.Post))
{
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.RadioButton("RadioButtonOptionID", item.OptionID.ToString(), new { id = "RadioButtonOption" }) @Html.DisplayFor(modelItem => item.Text)
                    @Html.TextBox("InterviewID", item.InterviewID, new { style = "display:none" })
                </td>
            </tr>
        }
    </table>
    <p>
        <input class="mybutton" type="submit" name="vote" value="Голосувати" />
    </p>
}