﻿@model IEnumerable<Universal_OSBB.Models.Entities.Owner>
<fieldset class="addowner">
    <legend>Додати власника</legend>

    @if (TempData["Error"] != null)
    {
        <p>
            <span class="field-validation-error">@TempData["Error"]</span>
        </p>
    }
    @using (Html.BeginForm("SubmitOwnerToRoom", "Property", FormMethod.Post))
    {
        <input list="owners" name="value">
        <datalist id="owners">
            @foreach (var item in Model)
            {
                <option value='@item.Surname @item.Name'></option>
            }
        </datalist>
        <input type="hidden" name="id_room" value='@ViewBag.Id_room'>
        <br>
        <br>
        <input class="mybutton" type="submit" value="Додати" />
    }
</fieldset>