﻿@model Universal_OSBB.Models.Entities.Room

@using (Html.BeginForm("AddRoom", "Property", FormMethod.Post))
{
    <fieldset>
        <legend>Приміщення</legend>
        @if (((SelectList)ViewBag.Houses).Count() > 0)
        {
            <p>
                @Html.ValidationSummary()
            </p>
            <span class="editor-label">
                @Html.LabelFor(model => model.House.Name):
            </span>
            <span class="editor-field">
                @Html.DropDownList("HouseID", ViewBag.Houses as SelectList)
            </span>
            <br>

            <span class="editor-label">
                @Html.LabelFor(model => model.StateRoom.State):
            </span>
            <span class="editor-field">
                @Html.DropDownList("StateRoomID", ViewBag.States as SelectList) 
            </span>
            <br>

            <span class="editor-label">
                @Html.LabelFor(model => model.Name):
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.Name)
            </span>
            <br>

            <span class="editor-label">
                @Html.LabelFor(model => model.Area):
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.Area)
            </span>
            <br>

            <p>
                <input class="mybutton" type ="submit" value="Зареєструвати" />
            </p>
        }
        else
        {
            <span>Жоден будинок не зареєстрований в ОСББ. Спочатку зареєструйте будинок</span>
        }
    </fieldset>
}

<div>
    @Html.ActionLink("До списку приміщень", "Rooms")
</div>
