﻿@model Universal_OSBB.Models.Entities.House

@using (Html.BeginForm("AddHouse", "Property", FormMethod.Post)) {
  

    <fieldset>
        <legend>Будинок</legend>
        <p>
            @Html.ValidationSummary()
        </p>
        <span class="editor-label">
            @Html.LabelFor(model => model.QuantityFloor):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.QuantityFloor)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.QuantityFlat):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.QuantityFlat)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.QuantityPorch):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.QuantityPorch)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Street):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Street)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.HouseNumber):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.HouseNumber)
        </span>
        <br>

        <p>
            <input class="mybutton" type="submit" value="Зареєструвати" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До списку будинків", "Houses")
</div>