﻿@model Universal_OSBB.Models.Entities.Room
@using Universal_OSBB.Models.Repository

<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>


    <span class="display-label">
        @Html.DisplayNameFor(model => model.House):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.House.Street), @Html.DisplayFor(model => model.House.HouseNumber)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.Area), м<sup>2</sup>:
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Area)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.StateRoom.State):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.StateRoom.State)
    </span>
    <br>

    <span class="display-label">
        Борг, грн:
    </span>
    <span class="display-field">
        @String.Format("{0:N2}", ViewBag.Dept) 
    </span>
    <br>

    @Html.Action("OwnersOfRoom", "Property", new { id_room = Model.RoomID })


    @if (OwnerHelper.IsHead(int.Parse(Session["user_id"].ToString())))
    {
        @Html.Action("AddOwnerToRoom", "Property", new { id_room = Model.RoomID })
    }

</fieldset>
<p>
    @Html.ActionLink("До списку приміщень", "Rooms")  
</p>
