﻿@model IEnumerable<Universal_OSBB.Models.Entities.House>

<fieldset>
    <legend>Будинки ОСББ</legend>
    <table class="list_table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPorch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityFlat)
            </th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPorch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityFlat)
            </td>
        </tr>
        }

    </table>
</fieldset>
