﻿@model IEnumerable<Universal_OSBB.Models.Entities.Owner>
@using Universal_OSBB.Models.Repository

@if (Model.Count() > 0)
{
    <span class="display-label">Власники:</span>
    <table class="sub_list">
        <tr>
            <th>
                ПІБ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOwner.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
@Html.ActionLink(
                    Html.DisplayFor(modelItem => item.Surname) + " " +

                    @Html.DisplayFor(modelItem => item.Name)+ " " +

                                @Html.DisplayFor(modelItem => item.MiddleName),
                                "DetailsOwner", "Owner", new { id = item.OwnerID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOwner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (OwnerHelper.IsHead(int.Parse(Session["user_id"].ToString())))
                {
                    <td class="invisible">
                        @Html.ActionLink("Видалити", "DeleteOwner", "Property",
                                new { id_owner = item.OwnerID, id_room = TempData["id_room"] }, null)
                    </td>
                }
            </tr>
        }

    </table>
}
