﻿@model IEnumerable<Universal_OSBB.Models.Entities.Room>
@{
    Session["menu_item"] = "properties";
}
<fieldset>
    <legend>Приміщення ОСББ</legend>
    <table class="list_table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area), м<sup>2</sup>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateRoom.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(),
         "DetailsRoom", "Property", new { id_room = item.RoomID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateRoom.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.House.Name)
                </td>
            </tr>
        }

    </table>
</fieldset>
