﻿@model IEnumerable<Universal_OSBB.Models.Entities.Cost>

<fieldset>
    <legend>Заплановані витрати</legend>
    @if (Model.Count() > 0)
    {
        <table class="list_table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePurchase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEnd)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Html.DisplayFor(modelItem => item.Name) + "",
                 "DetailsPlannedProduct", new { id_product = item.CostID })
                    </td>
                    <td class="number">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>Заплановані витрати відсутні</p>
    }
</fieldset>