﻿@model IEnumerable<Universal_OSBB.Models.Entities.Cost>

<fieldset>
    <legend>Заплановані витрати</legend>
    <p>
        @Html.ActionLink("Додати", "CreatePlannedProduct")
    </p>
    @if(Model.Count() > 0 )
    { 
    <table class="list_table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
   
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.Name) + "",
                 "EditPlannedProduct", new { id_product = item.CostID })
                </td>
                <td class="number">
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePurchase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td class="invisible">
                    @Html.ActionLink("Видалити", "DeletePlannedProduct", new { id_product = item.CostID })
                </td>
            </tr>
        }

    </table>
    }
    else
    {
       <p>Заплановані витрати відсутні</p>
    }
</fieldset>