﻿@model Universal_OSBB.Models.Entities.Cost

@using (Html.BeginForm("AddPlannedPurchase", "Finance", FormMethod.Post))
{

    <fieldset>
        <legend>Планування придбання товарів чи послуг</legend>
        <p>
            @Html.ValidationSummary()
        </p>

        <span class="editor-label">
            @Html.LabelFor(model => model.Name):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Name)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Description):
        </span>
        <br>
        <span class="editor-field">
            @Html.TextAreaFor(model => model.Description)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Measurement):
        </span>
        <span class="editor-field">
            @Html.DropDownList("MeasurementID", ViewBag.Measurements as SelectList)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Amount):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Amount)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Price):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Price)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.DatePurchase):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.DatePurchase)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.DateEnd):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.DateEnd)
        </span>
        <br>
        <p>
            <input class="mybutton" type="submit" value="Зберегти" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("До списку запланованих витрат", "CostPlanning")
</div>
