﻿@model Universal_OSBB.Models.Entities.Receipt

@using (Html.BeginForm("AddReceipt", "Finance", FormMethod.Post))
{
   
    <fieldset>
        <legend>Сплата коштів</legend>

        <p>
            @Html.ValidationSummary()
        </p>

        <span class="editor-label">
            Будинок:
        </span>
        <span class="editor-field">
            @Html.DropDownList("HouseID", ViewBag.Houses as SelectList, new { id = "HouseID" })
        </span>
        <br>

        <span class="editor-label">
            Приміщення:
        </span>
        <span class="editor-field">
            @Html.DropDownList("RoomID", ViewBag.Rooms as SelectList, new { id = "RoomID" })
        </span>

        @section scripts
        {
            <script type="text/javascript">

                $(function () {

                    $('#HouseID').change(function () {
                        // получаем выбранный id
                        var id = $(this).val();

                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("ListRooms")/' + id,
                            success: function (data) {
                                // заменяем содержимое присланным частичным представлением
                                $('#RoomID').replaceWith(data);
                            }

                        });
                    });
                })
            </script>
        }
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.DatePayment):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.DatePayment)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Payment):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Payment)
        </span>
        <br>

        

        <p>
            <input class="mybutton" type="submit" value="Зберегти" />
        </p>
</fieldset>
}
