﻿@model List<Universal_OSBB.Models.Entities.Cost>

@using Universal_OSBB.Models.Repository;

@{
    Session["menu_item"] = "costs";
}

<fieldset>
    <legend>Витрати поточного місяця</legend>
    @using (Html.BeginForm("SaveCurrentCosts", "Finance", FormMethod.Post))
    {
        <table class="list_table">
            <tr>
                <th>
                    Найменування
                </th>
                <th>
                    Вартість, грн
                </th>
                <th>
                    Запланована дата придбання
                </th>
                <th>
                    Кінцева дата придбання
                </th>
                <th>
                    Виконання
                </th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(model => model[i].CostID)
                    <td>
                        @Html.ActionLink(@Html.DisplayFor(model => model[i].Name) + "", "DetailsCurrentCost",
                        new { id_product = Model[i].CostID })
                    </td>
                    <td class="number">
                        @Html.DisplayFor(model => model[i].Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model[i].DatePurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model[i].DateEnd)
                    </td>
                    <td>
                        @if (Model[i].DateFactual != null)
                        { 
                            @Html.CheckBox("IsDone", true, new { @disabled = "disabled" })
                        }
                        else
                        {
                            if(OwnerHelper.IsHead(Convert.ToInt32(Session["user_id"].ToString())))
                            {
                                @Html.EditorFor(model => model[i].IsDone)
                            }
                            else
                            {
                                @Html.DisplayFor(model => model[i].IsDone)
                            }
                        }
                    </td>
                </tr>
            }

        </table>
        if(OwnerHelper.IsHead(Convert.ToInt32(Session["user_id"].ToString())))
        { 
            <p>
                <input class="mybutton" type="submit" value="Зберегти" />
            </p>
        }
    }
</fieldset>