﻿@model IEnumerable<Universal_OSBB.Models.Entities.Room>

<fieldset>
    <legend>Боржники</legend>
    <table class="list_table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.House.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                Власники
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.House.Name)
            </td>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(),
         "DetailsRoom", "Property", new { id_room = item.RoomID }, null)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Dept)
            </td>
            <td>
                @Html.Action("DeptorsOwners", "Finance", new { id_room = item.RoomID })
            </td>
        </tr>
    }

    </table>
</fieldset>
