﻿@model Universal_OSBB.Models.Entities.Cost

<fieldset>
    <legend>Поточні витрати</legend>

    <span class="display-label">
         @Html.DisplayNameFor(model => model.Name):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Name)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.Description):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Description)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.Measurement):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Measurement.Name)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.Amount):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.Price):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Price)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.Payment):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Payment)
    </span>
    <br>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.DatePurchase):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.DatePurchase)
    </span>
    <br>
    @if(Model.DateEnd != null)
    {
        <span class="display-label">
            @Html.DisplayNameFor(model => model.DateEnd):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.DateEnd)
        </span>
        <br>
    }

    <span class="display-label">
        @Html.DisplayNameFor(model => model.DateFactual):
    </span>
    <span class="display-field">
        @if (Model.DateFactual != null)
        { 
            @Html.DisplayFor(model => model.DateFactual)
        }
        else
        {
            <text>ще не придбано</text>
        }  
    </span>

</fieldset>
<p>
    @Html.ActionLink("До списку поточних витрат", "CurrentCosts")
</p>
