﻿@model Universal_OSBB.Models.Entities.Cost

<fieldset>
    <legend>Редагування запланованих витрат</legend>
    @using (Html.BeginForm("SaveEditPlannedPurchase", "Finance", FormMethod.Post))
    {
        <p>
            @Html.ValidationSummary()
        </p>

        @Html.HiddenFor(model => model.CostID)

        <span class="editor-label">
            @Html.LabelFor(model => model.Name):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Name)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Description):
        </span>
        <br>
        <span class="editor-field">
            @Html.TextAreaFor(model => model.Description)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Measurement):
        </span>
        <span class="editor-field">
            @Html.DropDownList("MeasurementID", ViewBag.Measurements as SelectList)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Amount):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Amount)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Price):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Price)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.DatePurchase):
        </span>
        <span class="editor-field">
            <input name="DatePurchase" type="date" value="@Model.DatePurchase.ToString("yyyy-MM-dd")">
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.DateEnd):
        </span>
        <span class="editor-field">
            @if (Model.DateEnd != null)
            {
                DateTime date = (DateTime)Model.DateEnd;
                <input name="DateEnd" type="date" value="@date.ToString("yyyy-MM-dd")">
            }
            else
            {
                @Html.EditorFor(model => model.DateEnd)
            }
        </span>

        <p>
            <input class="mybutton" type="submit" value="Зберегти" />
        </p>

    }
</fieldset>
<div>
    @Html.ActionLink("До списку запланованих витрат", "CostPlanning")
</div>