﻿@model IEnumerable<Universal_OSBB.Models.Entities.Room>
@if(Model.Count() > 0)
{
    <select id="RoomID" name="RoomID">
        @foreach (var item in Model)
        {
            <option value="@item.RoomID">@item.Name</option>
        }
    </select>
}
else
{
    <text>у вибраному будинку не зареєстровано приміщень</text>
}