﻿@model IEnumerable<Universal_OSBB.Models.Entities.Reports.MonthlyFee>
@using Universal_OSBB.Models.Repository;

<fieldset>
    <legend>Абонплата на 12 місяців</legend>
    <table class="list_table" style="width:50%; margin: 0 auto;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment), <br>грн/м<sup>2</sup>
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td class="number">
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
            </tr>
        }

    </table>
    
    @if(OwnerHelper.IsHead(Convert.ToInt32(Session["user_id"].ToString())))
    {
        <span>
            Якщо абонплата занадто висока, @Html.ActionLink("відредагуйте", "CostPlanning", "Finance") дейкі заплановані витрати
        </span>
    }
</fieldset>
