﻿@model IEnumerable<Universal_OSBB.Models.Entities.Receipt>

@{
    Session["menu_item"] = "payments";
}

@using Universal_OSBB.Models.Repository;
<fieldset>
    <legend>Сплата за приміщення</legend>
    <span class="editor-label" style="margin-left:130px">
        за період з <input type="date" name="startcalendar">
        по <input type="date" name="endcalendar">
    </span>
    <table class="sub_list">
        <tr>
            <td align="center">
                <strong>Дата сплати</strong>
            </td>
            <td align="center">
                <strong>Сума, грн</strong>
            </td>
        </tr>
    </table>
    @{String Name = ""; int index = 0;}
    @foreach (var item in Model)
    {
        <table class="sub_list">
            <tr>
                @if (String.Compare(item.Room.Name, Name) != 0)
                {
                    <td colspan="2" align="center" style="background-color:antiquewhite">
                        @Html.ActionLink(item.Room.Name, "DetailsRoom", "Property", new { id_room = item.RoomID }, null)
                        @{Name = item.Room.Name;}
                    </td>
                }
            </tr>
            @if (item.Payment == 0)
            {
                <tr>
                    <td align="center" colspan="2">
                        Немає даних про сплату за приміщення
                    </td>
                </tr>
                index++;
            }
            else
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.DatePayment)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                </tr>
                index++;
                if (index != Model.Count())
                {
                    if (String.Compare(Model.ElementAt(index).Room.Name, item.Room.Name) != 0)
                    {
                        @Html.Action("TotalPaymentForRoom", "Finance", new { id_room = item.RoomID, id_osbb = OwnerHelper.GetIdOSBBByIdOwner(int.Parse(Session["user_id"].ToString())), id_owner = int.Parse(Session["user_id"].ToString()) });
                    }
                }
                else
                {
                    @Html.Action("TotalPaymentForRoom", "Finance", new { id_room = item.RoomID, id_osbb = OwnerHelper.GetIdOSBBByIdOwner(int.Parse(Session["user_id"].ToString())), id_owner = int.Parse(Session["user_id"].ToString()) });
                }
            }
        </table>
    }
    <table class="sub_list">
        <tr>
            <td align="right">
                <strong>Всього:</strong>
            </td>
            <td align="right">
                <strong>@String.Format("{0:N2}",@ViewBag.Total)</strong>
            </td>
        </tr>
    </table>
</fieldset>