﻿@model Universal_OSBB.Models.Entities.Reports.SpentMoneyReport

@using (Html.BeginForm("SpentMoney","Finance")) {
 
    <fieldset class="report">
        <legend>Формування звіту про витрачені кошти</legend>
        <br>
        @Html.ValidationSummary()
        <span class="editor-label">
            в період @Html.LabelFor(model => model.DateFrom)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.DateFrom)
        </span>

        <span class="editor-label">
            @Html.LabelFor(model => model.DateTo)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.DateTo)
        </span>

        <span>
            <input type="submit" value="Сформувати" />
        </span>
    </fieldset>
}