﻿@model IEnumerable<Universal_OSBB.Models.Entities.Cost>

<fieldset>
    <legend>Звіт про витречені кошти</legend>
    <p class="center">@ViewBag.Message</p>
    @if (Model.Count() > 0)
    {
        <table class="list_table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateFactual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Measurement.Name)
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateFactual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Measurement.Name)
                    </td>
                    <td class="number">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="number">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="number">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                </tr>
            }
            <tr>
                <th class="number" colspan="5">Загальна сума:</th>
                <th class="number">@String.Format("{0:N2}", ViewBag.TotalSum)</th>
            </tr>

        </table>
    }
    else
    {
        <p class="center">не було придбано товарів чи послуг</p>
    }
</fieldset>


<div>
    @Html.ActionLink("Обрати період", "SpentMoneySearch")
</div>
