﻿@model Universal_OSBB.Models.Entities.Owner

<fieldset>
    <legend>Картка співвласника</legend>

    <div class="header_card_owner">
            @Html.DisplayFor(model => model.Surname) @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.MiddleName)                                                          
    </div>

    <span class="display-label">
        @Html.DisplayNameFor(model => model.TypeOwner):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.TypeOwner.Name)
    </span>
    <br>
    <span class="display-label">
        @Html.DisplayNameFor(model => model.DateRegistration):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.DateRegistration)
    </span>
    <br>
    <span class="display-label">
        @Html.DisplayNameFor(model => model.State):
    </span>
    <span class="display-field">
         @Html.DisplayFor(model => model.State)
    </span>
    <br>
    <span class="display-label">
        @Html.DisplayNameFor(model => model.Email):
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Email)
    </span>
    <br>
    
    @Html.Action("Phones", "Owner", new { id = Model.OwnerID })
    
    @Html.Action("PropertiesOwner", "Owner", new { id = Model.OwnerID })


</fieldset>
<p>
    @Html.ActionLink("До списку співвласників", "OwnersHead", "Owner")
</p>
