﻿@model Universal_OSBB.Models.Entities.Owner

<fieldset>
    <legend>Редагування інформації про співвласника</legend>
    

    @using (Html.BeginForm("SaveChangeOwner", "Owner", FormMethod.Post))
    {
        <p>
        @Html.ValidationSummary()
        </p>
        @Html.HiddenFor(model => model.OwnerID)

        <span class="editor-label">
            @Html.LabelFor(model => model.Surname):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Surname)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.Name):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Name)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.MiddleName):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
        </span>
        <br>

        <span class="editor-label">
            @Html.LabelFor(model => model.State):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.State)
        </span>
        <br>
        <span class="editor-label">
            @Html.LabelFor(model => model.TypeOwner.Name):
        </span>
        <span class="editor-field">
            @Html.DropDownList("TypeOwnerID", ViewBag.Types as SelectList)
        </span>

        <p>
            <input class="mybutton" type="submit" value="Зберегти" />
        </p>
    }
</fieldset>
<div>
    @Html.ActionLink("До списку співвласників", "OwnersHead")
</div>
