﻿@{
    Session["menu_item"] = "owners";
}
@model IEnumerable<Universal_OSBB.Models.Entities.Owner>
@using Universal_OSBB.Models.Repository;

<fieldset>
    <legend>Співвласники ОСББ</legend>
    @using (Ajax.BeginForm("SearchOwners", "Owner", new { id_osbb = OwnerHelper.GetIdOSBBByIdOwner(int.Parse(Session["user_id"].ToString())) }, new AjaxOptions { UpdateTargetId = "searchresult" }, new { @class = "leftsearchform" }))
    {
        <input type="text" name="surname" placeholder="Прізвище" />
        <br />
        <input type="text" name="name" placeholder="Ім'я" />
        <br />
        <input type="submit" class="searchbutton" value="Шукати" />
    }

    @using (Ajax.BeginForm("SearchOwnersByHouseRoom", "Owner", new AjaxOptions { UpdateTargetId = "searchresult" }, new { @class = "rightsearchform" }))
    {
        @Html.DropDownList("House", ViewBag.Houses as SelectList, new { id = "house" })
        <br />
        @Html.DropDownList("Room", ViewBag.Rooms as SelectList, new { id = "room" })
        <br />
        <input type="submit" class="searchbutton" value="Шукати" />
    }
    <br>
   
    <div id="searchresult">
        <table class="list_table">
            <tr>
                <th>
                    ПІБ
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOwner.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(
                    Html.DisplayFor(modelItem => item.Surname) + " " +

                    Html.DisplayFor(modelItem => item.Name) + " " +

                    Html.DisplayFor(modelItem => item.MiddleName), "DetailsOwner", "Owner", new { id = item.OwnerID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOwner.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
        </table>
    </div>
</fieldset>

@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#house').change(function()
        {
            var id = $(this).val();
            $.ajax({

                type: 'GET',
                url: '@Url.Action("SearchOwnersByHouseRoomHelper","Owner")/' + id,
                success: function (data) {
                $('#room').replaceWith(data);
                }
            });
        });
    })
    </script>
}