﻿@{
    Session["menu_item"] = "owners";
}
@model List<Universal_OSBB.Models.Entities.Owner>
@using Universal_OSBB.Models.Repository

<fieldset>
    <legend>Співвласники ОСББ</legend>
    @using (Ajax.BeginForm("SearchOwners", "Owner", new { id_osbb = OwnerHelper.GetIdOSBBByIdOwner(int.Parse(Session["user_id"].ToString())) }, new AjaxOptions { UpdateTargetId = "searchresult" }, new { @class = "leftsearchform" }))
    {
        <input type="text" name="surname" placeholder="Прізвище" />
        <br />
        <input type="text" name="name" placeholder="Ім'я" />
        <br />
        <input type="submit" class="searchbutton" value="Шукати" />
    }

    @using (Ajax.BeginForm("SearchOwnersByHouseRoom", "Owner", new AjaxOptions { UpdateTargetId = "searchresult" }, new { @class = "rightsearchform" }))
    {
        @Html.DropDownList("House", ViewBag.Houses as SelectList, new { id = "house" })
        <br />
        @Html.DropDownList("Room", ViewBag.Rooms as SelectList, new { id = "room" })
        <br />
        <input type="submit" class="searchbutton" value="Шукати" />
    }
    <br>
    <div id="searchresult">

            <table class="list_table">
                <tr>
                    <th>
                        ПІБ
                    </th>
                    <th>
                        Посада
                    </th>
                    <th>
                        Електронна пошта
                    </th>

                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(
                    Html.DisplayFor(model => model[i].Surname) + " " +

                    Html.DisplayFor(model => model[i].Name) + " " +

                    Html.DisplayFor(model => model[i].MiddleName), "DetailsOwner", "Owner", new { id = Model[i].OwnerID }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model[i].TypeOwner.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model[i].Email)
                        </td>
                        @if (OwnerHelper.IsHead(Convert.ToInt32(Session["user_id"].ToString())))
                        {
                            <td class="invisible">
                                @Html.ActionLink("Змінити", "EditOwner", "Owner", new { id_owner = Model[i].OwnerID }, null)
                            </td>
                        }
                    </tr>
                }

            </table>
    </div>
</fieldset>

@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#house').change(function()
        {
            var id = $(this).val();
            $.ajax({

                type: 'GET',
                url: '@Url.Action("SearchOwnersByHouseRoomHelper","Owner")/' + id,
                success: function (data) {
                $('#room').replaceWith(data);
                }
            });
        });
    })
    </script>
}