﻿@model IEnumerable<Universal_OSBB.Models.Entities.Phone>

@if (Model.Count() > 0)
{
    <span class="display-label">
        Контактні телефони:
    </span>
    <br/>
    foreach (var item in Model)
    {
        <span class="display-field">
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </span>
        <br>
    }
}


