﻿@model IEnumerable<Universal_OSBB.Models.Entities.Room>
@if (Model.Count() > 0)
{
    <span class="display-label">
        Майно у власності:
    </span>
    <br>

    <table class="sub_list">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Будинок
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateRoom.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area), м<sup>2</sup>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(), "DetailsRoom", "Property",
                new { id_room = item.RoomID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.House.Street),
                    @Html.DisplayFor(modelItem => item.House.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateRoom.State)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
            </tr>
        }

    </table>
}
