﻿@model IEnumerable<Universal_OSBB.Models.Entities.Owner>

@using Universal_OSBB.Models.Repository

<div id="searchresult">
    @if(Model.Count() >0)
    {
    <table class="list_table">
        <tr>
            <th>
                ПІБ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOwner.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                    Html.DisplayFor(modelItem => item.Surname) + " " +

                    Html.DisplayFor(modelItem => item.Name) + " " +

                    Html.DisplayFor(modelItem => item.MiddleName), "DetailsOwner", "Owner", new { id = item.OwnerID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOwner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (OwnerHelper.IsHead(Convert.ToInt32(Session["user_id"].ToString())))
                {
                    <td class="invisible">
                        @Html.ActionLink("Змінити", "EditOwner", "Owner", new { id_owner = item.OwnerID }, null)
                    </td>
                }
            </tr>
        }
    </table>
    <div>
        @if (OwnerHelper.IsHead(Convert.ToInt32(Session["user_id"].ToString())))
        {
            @Html.ActionLink("Відобразити всіх", "OwnersHead", "Owner")
        }
        else
        {
            @Html.ActionLink("Відобразити всіх", "Owners", "Owner")
        }
    </div>
    }
    else
    {
        <div style="text-align:center;">Відсутні співвласники, що задовольняють умовам пошуку</div>
    }

</div>