﻿@model IEnumerable<Universal_OSBB.Models.Entities.Room>

<select id="room" name="Room">
    @foreach (var item in Model)
    {
        <option value="@item.RoomID">@item.Name</option>
    }
</select>