﻿@model Universal_OSBB.Models.Entities.Message

@using (Html.BeginForm("CreateStatementToHead", "Owner"))
{
    <fieldset>
        <legend>Заява</legend>
        <p>@Html.ValidationSummary()</p>
        <p>Я, @ViewBag.Owner,</p>
        <span class="editor-field">
            @Html.TextArea("MainTextStatement", null, rows: 5, columns: 80, htmlAttributes: null)
        </span>
        <p>
            <input class="mybutton" type="submit" value="Завантажити" />
        </p>
</fieldset>
}