﻿@model Universal_OSBB.Models.Entities.Registration.RegisterUser

@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
{
    <fieldset>
        <legend>Інформація про нового співвласника</legend>
        <p>
            @Html.ValidationSummary()
        </p>

        <div class="reg">
            @Html.DisplayNameFor(model => model.Surname):
            <div>
                @Html.EditorFor(model => model.Surname)
            </div>
        </div>

        <div class="reg">
            @Html.DisplayNameFor(model => model.Name):
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div class="reg">
            @Html.DisplayNameFor(model => model.MiddleName):
            <div>
                @Html.EditorFor(model => model.MiddleName)
            </div>
        </div>

        <div class="reg">
            @Html.DisplayNameFor(model => model.Login):
            <div>
                @Html.TextBoxFor(model => model.Login)
            </div>
        </div>

        <div class="reg">
            @Html.DisplayNameFor(model => model.Email):
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>
        <div id="DynamicTypesContainer" class="reg">
            <label>@Html.DisplayNameFor(model => model.TypeOwnerID):</label>
            <div id="DynamicTypes">
                @foreach (var t in ViewBag.Types)
                {
                    int id = t.TypeOwnerID;
                    string str = t.Name;
                    @Html.RadioButton("type_owner", id, new { id = "radiotype" });
                    @t.Name
                    <br>
                }
            </div>
            <input type="button" id="AddTypeButton" value="Додати посаду">
        </div>
    
        <div  id="DynamicExtraFieldsContainer">
            <div id="DynamicExtraField">
                <label for=" dynamicextrafield">Телефон:</label>
                <br>
                <input name="phones" cols="50" />
            </div>
            <input type="button" id="AddPhoneButton" value="Додати телефон">
        </div>
            
        <div class="reg">
            <div>
                <input class="mybutton" type="submit" value="Зареєструвати" />
            </div>
        </div>
</fieldset>
}
