﻿<div class="auth">
 
    <span>@TempData["Successful"]</span>
    @if (TempData["ResultLogIn"] != null)
    {
        <p>
            <span class="field-validation-error">@TempData["ResultLogIn"]</span>
        </p>
    }
    else
    {
        <p>
            Вхід в систему
        </p>
    }
    <form method="post" action="/User/LogIn">
        <input name="login" type="text" value="" size="15" placeholder="Логін" />
        <p>
            <input name="password" type="password" value="" size="15" placeholder="Пароль" />
        <p>
            <input class="mybutton" type="submit" value="Увійти" />
            <br>
            <br>
            @Html.ActionLink("Забули пароль?", "ForgetPassword", "User", null, new { target = "blank" })
        </p>
    </form>
    
</div>
