﻿@model Universal_OSBB.Models.Entities.Owner

@if(Model != null)
{ 
    <div>
        Головою об'єднання <b>"@Model.OOAB.Name"</b>
        є <b>@Html.ActionLink(Model.Surname + " " + Model.Name + " " + Model.MiddleName, "DetailsOwner", "Owner", new { id = Model.OwnerID }, null)</b>
        <br>електронна пошта: <b>@Model.Email</b><br>
        @if (ViewBag.Phones.Count > 0)
        { 
            <text>контактні телефони:</text>
            int n = ViewBag.Phones.Count;
            for(int i = 0; i<n; i++)
            {
                if(i < n-1)
                {
                    <b>@ViewBag.Phones[i].PhoneNumber, </b>
                }
                else
                {
                    <b>@ViewBag.Phones[i].PhoneNumber</b>
                }
            }
        }
      
    </div>
}
