﻿@model IEnumerable<Universal_OSBB.Models.Entities.Owner>
@if(Model.Count()>0)
{
    <div>
        Відповідальні по секторах об'єднання <b>"@Model.First().OOAB.Name"</b>:
        <br>
        @foreach(var item in Model)
        { 
            <span>@item.TypeOwner.Name </span>
            <b>@Html.ActionLink(item.Surname+" "+item.Name + " "+item.MiddleName, "DetailsOwner", "Owner", new { id = item.OwnerID }, null)</b>
            <br>
        }
    </div>
}