﻿<div class="auth">
@if (TempData["Successful"] != null)
{
    <span>TempData["Successful"]</span>
}
else
{

    if (TempData["ResultEnterEmail"] != null)
    {
        <p>
            <span class="field-validation-error">@TempData["ResultEnterEmail"]</span>
        </p>
    }
    <form method="post" action="/User/SendNewPassword">
        <p>
            Введіть електронну пошту:
        </p>
        <input name="mail" type="email" value="" placeholder="E-mail" />
        <p>
            <input class="mybutton" type="submit" value="Відправити пароль" />
    </form>
}
</div>