﻿@model IEnumerable<Universal_OSBB.Models.Entities.Message>

<div class="news">
    <span class="news">
        Останні новини об'єднання
    </span>
    <br>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Topic, "DetailsNovelty", "Novelty", new { id = item.MessageID }, null)</li>
        }
    </ul>
</div>