﻿<div class="mainmenu">
    <ul>
        <li>
            @Html.ActionLink("Новини", "News", "Novelty")    
        </li>
        <li>
            @Html.ActionLink("Опитування", "Interviews", "Interview")
        </li>
        <li>
            @Html.ActionLink("Співвласники", "Owners", "Owner")
        </li>
        <li>
            @Html.ActionLink("Майно", "Rooms", "Property")
        </li>
        <li>
            @Html.ActionLink("Сплата", "PaymentForRooms", "Finance")
        </li>
        <li>
            @Html.ActionLink("Витрати", "CurrentCosts", "Finance")
        </li>
        <li>
            @Html.ActionLink("Профіль", "News", "Novelty")
        </li>
        <li>
            @Html.ActionLink("Вихід", "LogOut", "User")
        </li>
    </ul>
</div>