﻿<div class="sub_menu">
<ul>
@if (Session["menu_item"] != null)
{
    switch (Session["menu_item"].ToString())
    {
        case "news":
            {
                    <li>
                        @Html.ActionLink("Розмістити повідомлення", "CreateNovelty", "Novelty")
                    </li>

                    break;
                }
            case "interviews":
                {
                    <li>
                        @Html.ActionLink("Розмістити опитування", "CreateInterview", "Interview")
                    </li>
                    break;
                }
            case "owners":
                {
                    <li>
                        @Html.ActionLink("Зареєструвати співвласника", "Registration", "User")
                    </li>
                    break;
                }
            case "properties":
                {
                    <li>
                        @Html.ActionLink("Приміщеня", "Rooms", "Property")
                    </li>
                    <li>
                        @Html.ActionLink("Зареєструвати приміщення", "CreateRoom", "Property")
                    </li>
                    <li>
                        @Html.ActionLink("Будинки", "Houses", "Property")
                    </li>
                    <li>
                        @Html.ActionLink("Зареєструвати будинок", "CreateHouse", "Property")
                    </li>
                    break;
                }

            case "payments":
                {
                    <li>
                        @Html.ActionLink("Сплата за мої приміщення", "PaymentForRooms", "Finance")
                    </li>
                    <li>
                        @Html.ActionLink("Сплата коштів співвласником", "CreateReceipt", "Finance")
                    </li>
                    <li>
                        @Html.ActionLink("Абонплата", "MonthlyFee", "Finance")
                    </li>
                    
                    <li>
                        @Html.ActionLink("Боржники", "Deptors", "Finance")
                    </li>

                    break;
                }

            case "costs":
                {
                    <li>
                        @Html.ActionLink("Поточні витрати", "CurrentCosts", "Finance")
                    </li>
                    <li>
                        @Html.ActionLink("Планування витрат", "CostPlanning", "Finance")
                    </li>
                    <li>
                        @Html.ActionLink("Витрачені кошти", "SpentMoneySearch", "Finance")
                    </li>
                    break;
                }
    }
}
</ul>
</div>